<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>Sign up for our app</h2>
          <form method='post' action='/register' novalidate >
            <div class="form-group">
              <label for="reg-name">User Name</label>
              <input name='name' type="text" class="form-control is-valid" id="reg-name">
              <small class="valid-feedback">
                Dope!
              </small>
            </div>
            <div class="form-group">
              <label for="reg-email">Email address</label>
              <input name='email' type="email" class="form-control is-invalid" id="reg-email" aria-describedby="emailHelp" >
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              <div class="invalid-feedback">
                Email must be an anagram
              </div>
            </div>
            <div class="form-group">
              <label for="reg-password">Password</label>
              <input name='password' type="password" class="form-control" id="reg-password">
            </div>
            <div class="form-group">
              <label for="reg-password-confirm">Password Confirm</label>
              <input type="password_confirm" class="form-control" id="reg-password-confirm">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
